
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.card {
  flex: 1;
  min-width: 250px;
 /* Ajusta el tamaño mínimo de la tarjeta */
  max-width: 300px;
 /* Ajusta el tamaño máximo de la tarjeta */
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  /* Estilos adicionales para la tarjeta */
  /* width: 300px; */
  overflow: hidden;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img {
  width: 100%;
  transition: transform 0.5s ease;
}
.card:hover img {
  transform: scale(1.1);
}
.card-info {
  padding: 15px;
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 600px) {
  .card-container {
      flex-direction: column;
 }
  .card {
      margin: 10px auto;
     /* Centra las tarjetas en pantallas pequeñas */
 }
}

/*card hover effect*/
.hover-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 15px;
  background: #212121;
  border: 2px solid #313131;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 32px;
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: #0974f1;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.hover-card:hover {
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  border-color: #0974f1;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}
