*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  gap: 12px;
  justify-content: center;
  padding: 5px;
  background-color: hotpink;
}

.menu {
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  width: fit-content;
  display: flex;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.menu .link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 36px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link .svg {
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .item {
  position: relative;
}

.menu .item .submenu {
  display: none;
  flex-direction: column;
  align-items: center;
  top: 100;
  border-radius: 0 0 16px 16px;
  left: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid #cccccc;
  opacity: 0;
  visibility: hidden;
  background-color: #ffffff;
  transition: all 0.38s cubic-bezier(0.23, 1, 0.32, 1);
  pointer-events: none;
  list-style: none;
}

.menu .item:hover .submenu {
  position: absolute;
  display: flex;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  border-top: transparent;
  border-color: #0a3cff;
}

.menu .item:hover .link {
  background-color: #0a3cff;
  color: #ffffff;
  border-radius: 16px 16px 0 0;
}

.menu .item:hover .link .svg {
  transform: rotate(-180deg);
}

.submenu .submenu-item {
  width: 100%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link {
  display: block;
  padding: 12px 24px;
  width: 100%;
  position: relative;
  text-align: center;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link:hover {
  color: #ffffff;
  background-color: #0a3cff;
}

.placeholder {
  height: 100svh;
  width: 100dvw;
  background-color: limegreen;
}