:root {
    --primary: #5F5DFE;
    --primary-darker: #4F4DFE;
    --bg: #EFF3F4;
    --white: #FFF;
    --profile-bg: #FFFFFD;
    --socials-bg: #F9FAFC;
    --highlight-bg: #F9FAFC;
    --text-bg: #878789;
    --text: #797C83;
    --border-color: #F4F4F4;
    --social-color: #6B6C6E;
    --active: #7774B5;
    --tab-bg: #EBE9FF;
    --tabs-border: #F2F6F5;
    --tab-width: 7rem;
    --tabs-gap: 0rem;
    --tab-radius: 0.4rem;
    --scrollbar-thumb: #e4e3f3;
    --scrollbar-bg: #F2F6F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    user-select: none;
}


.reviews {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.review {
    display: flex;
    gap: 0.5rem;
    align-items: start;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: var(--highlight-bg);
    border: 1px solid var(--border-color);
}

.review img {
    width: 3rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
