.single {
	max-width: 30vw;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.multiple {
	max-width: 30vw;
	overflow: hidden;
	text-overflow: ellipsis;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}